# EditorConfig for Double M API Project
root = true

# C# files
[*.cs]
indent_style = space
indent_size = 4
end_of_line = crlf
charset = utf-8
insert_final_newline = true

# Naming Conventions
csharp_style_namespace_declarations = file_scoped_namespaces:silent
csharp_style_expression_bodied_methods = false:silent
csharp_style_expression_bodied_properties = true:silent

# Async/Await
csharp_style_inlined_variable_declaration = true:suggestion

# Null checking
csharp_style_conditional_delegate_call = true:suggestion

# Code blocks
csharp_prefer_braces = true:silent
csharp_prefer_simple_using_statement = true:suggestion

# JSON files
[*.json]
indent_style = space
indent_size = 2

# XML files
[*.xml]
indent_style = space
indent_size = 2